{% extends "layout.html" %}
{% block title %} AIGraph4pg : Tutorial Info {% endblock %}

{% block content %}
<div class="container w-75">
  <h3>Tutorial : Graphs, Apache AGE, and openCypher</h3>
  <p></p>

  <hr>
  <p></p>
  <h4>Graph Terminology</h4>
  <p></p>
  There are several types of <strong>graph databases</strong>.
  One of the most common is called <strong>Labeled Property Graph</strong> or
  <strong>LPG</strong>.
  <p></p>
  With LPG graphs, you compose the graph of <strong>nodes</strong> and <strong>edges</strong>.
  <p></p>
  <strong>Nodes represent the entities</strong> in the graph, and the 
  <strong>Edges represent the relationships</strong> between the nodes or entities.
  Nodes are alternatively called <strong>Vertices</strong>.
  Nodes and Edges can have an arbitrary set of <strong>properties</strong> which are key-value data pairs.
  <p></p>
  These relationships or edges are "first class citizens" within graph databases,
  and the relationships are often more important than the nodes themselves.
  While relational databases offer foreign key constraints, the edges
  in a graph database are more nuanced and expressive.
  <p></p>

  <p>
    Definitions:
    <p></p>
    <ul>
      <li><strong>Graph</strong> : A collection of nodes and edges</li>
      <li><strong>Node</strong> : An entity or vertex in a graph</li>
      <li><strong>Edge</strong> : A named connection between two nodes</li>
      <li><strong>Property</strong> : Key-value pair associated with a node or edge</li>
      <li><strong>Label</strong> : A tag attached to a node or edge, such as "Case" in the following diagram</li>
    </ul>
  <p align="center">
    <img src="static/img/sample-graph.png" width="90%">
  </p>
  <p></p>
  In the above visualization, the Nodes are represented as named <strong>circles</strong>
  while the Edges are represented as named <strong>lines</strong>.
  <p></p>
  The edges are <strong>directed</strong> and don't imply or require a
  reverse relationship. For example, in this model, there is a 
  <strong>Case -> tried_in -> Jurisdiction</strong> relationship
  but no corresponding relationship from Jurisdiction to Case.
  <p></p>
  With LGP graphs there is no explicit <strong>schema</strong> that you have to define.
  The schema is implicitly created as you add your Nodes and Edges.
  <p></p>
  Note that the graph implemented in this reference application only 
  contains <strong>Case Nodes and cites and cited_by Edges</strong>.
  Note Judges, Jurisdictions, and other edge types.
  <p></p>
  <hr>

  <p></p>
  <h4>openCypher</h4>
  <p></p>
  <a href="https://opencypher.org" target="_blank">openCypher</a> is the query language
  used by Apache AGE.

  Per the opencypher.org website:<br>
  <cite>openCypher is an open source specification of Cypher® - the most widely adopted
    query language for property graph databases. Cypher was developed by Neo4j®.
  </cite>
  <p></p>
  The openCypher syntax is well documented
  <a href="https://s3.amazonaws.com/artifacts.opencypher.org/openCypher9.pdf" target="_blank">here</a>
  in a 200+ page PDF document. It is recommended that you download this PDF and keep it 
  as a handy reference.
  <p></p>
  The following is an example openCypher to find a specific Case node:
  <p></p>
  <pre>
  MATCH (c:Case {id:594079}) RETURN c
  </pre>
  In this example, "Case" is the type of Node, and we're searching for the Case 
  with the "id" property equal to 594079.  The "c:" part indicates that we're 
  assigning the Case node to the variable "c", then the query RETURNs the "c" variable.
  <p></p>
  Now, when we execute this same query in Apache AGE, we wrapper the openCypher query 
  with a SQL query that looks like the following:
  <p></p>
  <pre>
    select * from ag_catalog.cypher('legal_cases',
      $$ MATCH (c:Case {id:594079}) RETURN c $$)
    as (c agtype);
  </pre>
  This SQL invokes the "cypher" function in the Apache AGE "ag_catalog" schema, 
  and provides the name of the graph to be queried (i.e. - "legal_cases").
  The return variable c is cast to the "agtype" data type of Apache AGE,
  which is its' standard return type.
  <p></p>
  <pre>
    select * from ag_catalog.cypher('legal_cases',
      $$ MATCH (c:Case {id:594079}) RETURN c $$)
    as (c agtype);
  </pre>
  <p></p>
  Before that query is executed, you'll need to add the Apache AGE schema 
  (i.e. - ag_catalog) to your schema search path, as shown below in a psql session. 
  <p></p>
  <pre>
    dev=> SET search_path TO public, ag_catalog, legal_cases;
  </pre>
  In this example, the search path is set to the public schema first, 
  followed by age, followed by your specific graph schema (i.e. - legal_cases).
  See the official PostgreSQL documentation on
  <a href="https://www.postgresql.org/docs/current/ddl-schemas.html" target="_blank">
    Schemas and the search_path</a>.
  <p></p>
  Alternatively, the <strong>alter user</strong> command can be used to 
  set the search path for a specific user, as shown below:
  <pre>
    dev=> alter user <user> set search_path='public','ag_catalog';
  </pre>
  <p></p>
  <hr>

  <p></p>
  <h4>Creating and Loading an AGE Graph</h4>
  <p></p>
  Please revisit the <strong>docs\readme.md page of the GitHub repository</strong>
  where this process is documented.
  <p></p>
  This section further explains the process.
  <p></p>
  There are multiple ways to load an Apache AGE graph in Azure PostgreSQL.
  One way by using the <strong>psql</strong> command line utility to redirect 
  in a set of SQL statements that load the Nodes and Edges; this is the approach
  used in the docs\readme.md page.
  <p></p>
  The Microsoft Azure PostgreSQL team is currently working on a high-speed data loader utility
  for Apache AGE graphs.  This will be used and documented in this reference application
  once it becomes available.
  <p></p>
  Currently, this reference application loads the graph with this command that invokes psql:
  <p></p>
  <pre>
    .\pg.ps1 flex dev ..\data\legal_cases\age_load_statments.sql
  </pre>
  <p></p>
  The data in file <strong>age_load_statments.sql</strong> contains three lines that 
  look like the following.  The first line creates a Case Node, the next line creates 
  a "cites" edge, and the third libe creates an "cited_by" edge.  These three lines have 
  been reformatted for readability here.
  <p></p>
  <pre>
    SELECT * FROM cypher('legal_cases',
      $$ CREATE (:Case { id: 594079, url: 'https://static.case.law/wash/79/cases/0643-01.json', name: 'Martindale Clothing Co. v. Spokane &amp; Eastern Trust Co.', court_id: 9029, court: 'Washington Supreme Court', decision_year: 1914, citation_count: 5 }) $$)
    as (v agtype);
    
    SELECT * FROM cypher('legal_cases',
      $$ MATCH (a:Case), (b:Case) WHERE a.id = 1017660 AND b.id = 594079
         CREATE (a)-[e:cites  {case_id: '1017660',  cited_case_id: '594079',  case_name: 'United Mutual Savings Bank v. Riebli',  cited_case_name: 'Martindale Clothing Co. v. Spokane &amp; Eastern Trust Co.',  cited_case_year: 1914 }]->(b) RETURN e $$)
    as (e agtype);

    SELECT * FROM cypher('legal_cases',
      $$ MATCH (a:Case), (b:Case) WHERE a.id = 594079 AND b.id = 1017660
         CREATE (a)-[e:cited_by  {case_id: '594079',  cited_case_id: '1017660',  case_name: 'Martindale Clothing Co. v. Spokane &amp; Eastern Trust Co.',  cited_case_name: 'United Mutual Savings Bank v. Riebli',  cited_case_year: 1960 }]->(b) RETURN e $$)
      as (e agtype);
  </pre>
  <p></p>
  In the first line, notice how the new Case Node contains an arbitrary set of properties 
  in JSON format.  This is schemaless in nature.
  <p></p>
  The next two lines create Edges that are associated with this Case 594079.
  Notice how the two Nodes are first located with the <strong>MATCH</strong> clause, and the Edge 
  is then <strong>CREATEd</strong> between the MATCHed Nodes.  Notice that Edges also may be created 
  with an arbitrary set of properties in JSON format.
  <p></p>
  <hr>

  <p></p>
  <h4>The Underlying Apache AGE Data Structures</h4>
  <p></p>
  You can use the PostgreSQL <strong>pg_dump</strong> utility, with the <strong>--schema-only</strong>
  option to dump the schema of your database to gain insight into how the AGE graph
  is stored in the database.  The output will be similar to the following:

  <p></p>
  <pre>
    CREATE TABLE legal_cases._ag_label_vertex (
      id ag_catalog.graphid NOT NULL,
      properties ag_catalog.agtype DEFAULT ag_catalog.agtype_build_map() NOT NULL
    );

    CREATE TABLE legal_cases._ag_label_edge (
      id ag_catalog.graphid NOT NULL,
      start_id ag_catalog.graphid NOT NULL,
      end_id ag_catalog.graphid NOT NULL,
      properties ag_catalog.agtype DEFAULT ag_catalog.agtype_build_map() NOT NULL
    );

    CREATE TABLE legal_cases."Case" ()
    INHERITS (legal_cases._ag_label_vertex);

    CREATE TABLE legal_cases.cited_by ()
    INHERITS (legal_cases._ag_label_edge);

    CREATE TABLE legal_cases.cites ()
    INHERITS (legal_cases._ag_label_edge);
  </pre>
  <p></p>
  In this case the name of the graph is "legal_cases", and it is in its own schema.
  <p></p>
  Apache AGE creates two <strong>superclass tables</strong> for each graph,
  one for all Nodes and one for all Edges (i.e. - _ag_label_vertex and _ag_label_edge).
  <p></p>
  Then, AGE uses the <strong>INHERITS</strong> clause to create one table for each Node type
  and one table for each and Edge type in your graph.
  <p></p>
  <hr>
  
  <p></p>
  <h4>Interacting with your AGE graph in Azure PostgreSQL</h4>
  <p></p>
  To execute <a href="https://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank">CRUD</a>
  operations vs AGE you simply use the tools and software libraries that you already use with PostgreSQL.
  <p></p>
  For example, the <strong>psql</strong> command line utility, the <strong>pgAdmin</strong> GUI,
  or a software library like <strong>psycopg2</strong> for Python.
  <p></p>
  See <strong>the post_query method in webapp.py</strong> in the repo for an example of how
  to use psycopg_pool to interact with AGE in an asynchronous manner.


  <pre>




  </pre>
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
