{% extends "layout.html" %}
{% block title %} AIGraph4pg : Tutorial Info {% endblock %}

{% block content %}
<div class="container w-75">
  <h5>Tutorial : Home</h5>
  <p></p>
  <hr>

  <h5>Documentation Links</h5>
  <p></p>
  This reference implemention is primarily built upon the Azure PaaS services
  and open-source software listed below:
  <p></p>
  <ul>
    <li>
      <a href="https://learn.microsoft.com/en-us/azure/postgresql/" target="_blank">
        Azure Database for PostgreSQL - Flexible Server
      </a>
    </li>
    <li>
      <a href="https://age.apache.org/" target="_blank">
        Apache AGE Graph Database
      </a>
    </li>
    <li>
      <a href="https://opencypher.org/" target="_blank">
        openCypher language
      </a>
    </li>
    <li>
      <a href="https://learn.microsoft.com/en-us/azure/ai-services/openai/" target="_blank">
        Azure OpenAI
      </a>
    </li>
    <li>
      <a href="https://www.python.org/" target="_blank">Python</a> 
      and software libraries hosted a the  
      <a href="https://pypi.org/" target="_blank">
        The Python Package Index (PyPI) 
      </a>
    </li>
  </ul>

<p></p>
See the <strong>Architecture</strong> page for more details.
<p></p>
One purpose of this reference application is to provide a <strong>tutorial</strong>
of these topics, generally in a <strong>left-to-right</strong> manner 
in the list of topics in the navigation bar at the top of each page 
(i.e. - Home, Architecture, PG Admin Queries, etc.)
<p></p>
This reference application is hosted at the
<a href="https://github.com/cjoakim/AIGraph4pgPrivate" target="_blank">
  AIGraph4pg Public GitHub repository
</a>
</div>

<pre>


</pre>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
