# Python requirements file for this application.
# The libraries will be downloaded from PyPI: https://pypi.org
# when the venv.ps1 or venv.sh script is executed.
# Chris Joakim, Microsoft

Faker
Jinja2

ageqrp
black
# cryptography
docopt
fastapi
hypercorn
itsdangerous
markdownify
multidict
nltk
numpy==2.2.1
openai
psycopg[binary,pool]
pytest-asyncio
pytest-cov
pytest
python-dotenv
python-multipart
semantic-kernel==1.17.1
tiktoken
uvicorn
